.box-animated h1{
    font-size: 8rem;
    text-align: center;
    width: 50%;
    align-content: center;
    margin: 400px auto;
}
body{
    background-color: black;
    background-image: url(https://picfiles.alphacoders.com/448/448617.jpg);
    background-size: cover;
    background-attachment: fixed;
}

