.box-animated h1{
    font-size: 8rem;
    text-align: center;
    width: 50%;
    align-content: center;
    margin: 400px auto;
}
body{
    background-color: black;
    background-image: url(https://picfiles.alphacoders.com/448/448617.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#container-tipos {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

#tipos-card {
    height: 650px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    padding: inherit;
    border-radius: 6px;
}
  
#tipos-card:hover {
    box-shadow: 10px 10px 30px rgb(255, 255, 255);
    transform: translateY(-3%);
}
#btn-heart{
    position: relative;
    bottom: 40px;
}

#basurero{
    width: 30px;
    height: 24px;
    padding-bottom: 4px;
    color: black;
}